<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Add a new flat</h3>
        <%= simple_form_for @flat do |f| %>
         <%= f.input :title, label: "Nom", placeholder: 'Cabane dans les bois..' %>
          <%= f.input :price, label: "Prix par nuit" %>
          <%= f.input :guest, label: "Capacité d'accueil (nombre de personne)" %>
          <%= f.input :bedroom, label: "Nombre de chambres" %>
          <%= f.input :description %>
          <%= f.input :address, label: "Adresse (visible une fois votre bien reservé)" ,placeholder: '36 quai des orfevres', input_html: {data: {address_autocomplete_target: "address"}, class: "d-none" },
          wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
          %>
          <%= f.input :city, label: "Adresse approximative (visible par tous)", placeholder: 'Nom de votre quartier, ville...' %>
          <%= f.input :photo, as: :file %>

          <%= f.submit "Modifier", class: 'btn btn-primary' %>
          <%= link_to "Supprimer", flat_path(@flat),
                          data: { turbo_method: :delete, turbo_confirm: "Are you sure delete this flat?" } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
