
  <div class="index-logo">
    <%= image_tag("Airpnp1.jpg", alt: "logo") %>
  </div>

<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: flats_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Ville..."
        %>
      <%= submit_tag "Rechercher...", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="index-map-flat-container">
  <div class="index-map-container"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>


  <div class="index-container">
    <div class="flat-container">
      <%@flats.each do |flat| %>
        <div class="flat-card">
        <%= render "card", flat: flat%>
      </div>
      <% end %>

    </div>
  </div>
</div>
