<div class="container">
  <div style="width: 33%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

 <div class="index-container container">
  <div class="index-logo">
    <%= image_tag("Airpnp1.jpg", alt: "logo") %>
  </div>
  <div class="search-bar">
    <%= simple_form_for :search, url: flats_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" placeholder="Which city do you want to stay at?" name="search[query]" id="search_query" />
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> Search

      </button>
    </div>
  <% end %>
</div>
</div>

  <div class="flat-container">
    <%@flats.each do |flat| %>
      <div class="col-3">
      <%= render "card", flat: flat%>
    </div>
    <% end %>
    </div>
