
<div class="flat-show-container" data-controller="toggle">
  <div class="show-flat">
     <h1><%= @flat.title %></h1>
    <div class="show-flat-main-info">
      <p> Ville:  <%= @flat.city %> </p>
      <p> Prix par nuit:  <%= @flat.price %> € </p>
      <p> Nombre de personnes:  <%= @flat.guest %> </p>
    </div>

    <div class="show-flat-description">
      <h2>Description:</h2>
      <p> Nombre de chambre:  <%= @flat.bedroom %> </p>
      <p> <%= @flat.description %> </p>
    </div>
    <div class="show-flat-button">
      <button data-action="click->toggle#display">Reserver</button>
    </div>
  </div>
  <div class="show-new-booking"><!-- ne pas toucher cette div -->
    <div class="show-new-booking-content d-none" data-toggle-target="toggElement">
      <%= render "bookings/form", user: current_user, flat: @flat %>
    </div>
  </div>
</div>
