<h1>Réservation</h1>
<p>Find me in app/views/bookings/new.html.erb</p>

<div class="new-booking">
  <%= simple_form_for [@flat, @booking] do |f| %>
            <%= f.input :guest, as: :integer %>
            <%= f.input :entry_date, as: :string, input_html: { data: { controller: "datepicker" , datepicker_dates_value: @tableaudate.to_json} } %>
            <%= f.input :out_date, as: :string, input_html: { data: { controller: "datepicker" , datepicker_dates_value: @tableaudate.to_json} } %>
            <%= f.submit class: 'btn btn-primary' %>
    <% end %>
</div>
