<h1>Dashboards#index</h1>
<p>Find me in app/views/dashboards/index.html.erb</p>

<h1>Bookings en attente</h1>
  <% @my_flats_bookings_unconfirmed.each do |booking| %>
    <p>Réservation n°<strong><%= booking.id %></strong> du <strong><%= booking.entry_date %></strong> au <strong><%= booking.out_date %></strong> pour <strong><%= booking.guest %></strong> invité(s)</p>
    <%= link_to "Confimé", flat_booking_path(booking.flat, booking, booking: {confirmed: true}),
          data: { turbo_method: :patch, turbo_confirm: "Confirmé cette réservation." } %>
    <%= link_to "Delete", flat_booking_path(booking.flat, booking),
          data: { turbo_method: :delete, turbo_confirm: "Are you sure delete this book ?" } %>
  <% end %>

<h1>Bookings confimés</h1>
  <% @my_flats_bookings_confirmed.each do |booking| %>
    <p>Réservation n°<strong><%= booking.id %></strong> du <strong><%= booking.entry_date %></strong> au <strong><%= booking.out_date %></strong> pour <strong><%= booking.guest %></strong> invité(s)</p>
    <%= link_to "Delete", flat_booking_path(booking.flat, booking),
          data: { turbo_method: :delete, turbo_confirm: "Are you sure ?" } %>
  <% end %>


<h1>Flats</h1>

  <% @flats.each do |flat| %>
    <p><strong><%= flat.title %></strong>  <%= link_to "Delete", flat_path(flat),
                                                data: { turbo_method: :delete, turbo_confirm: "Are you sure delete this flat?" } %></p>
    <p>Prix : <strong><%= flat.price %> €</strong></p>
    <p>Nombre personne autorisé : <strong><%= flat.guest %></strong></p>
    <p>Nombre chambre : <strong><%= flat.bedroom %></strong></p>
    <p>Description : <strong><%= flat.description %></strong></p>
    <p>Address : <strong><%= flat.address %></strong></p>
  <% end %>

<h1> Vos futurs visites</h1>

<ul>
<% @user_bookings.each do |book| %>
  <li><%= book.flat.title %></li>
<% end %>
</ul>
