
<div class="dashboard-container">
  <div class="dashboard-card">
    <div class="dashboard-profil-pic-container">

      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, class: "dashboard-profil-pic" %>
      <% end %>
    </div>
    <div class="dashboard-title">
      Le dashboard
    </div>
    <div class="dashboard-title2">

      de <%= current_user.username %>
    </div>

    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="icon-tab-0" data-bs-toggle="tab" href="#icon-tabpanel-0" role="tab" aria-controls="icon-tabpanel-0" aria-selected="true"><i class="fa-solid fa-plane-up"></i> Mes voyages</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="icon-tab-1" data-bs-toggle="tab" href="#icon-tabpanel-1" role="tab" aria-controls="icon-tabpanel-1" aria-selected="false"><i class="fa-solid fa-suitcase"></i> Mes biens</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="icon-tab-2" data-bs-toggle="tab" href="#icon-tabpanel-2" role="tab" aria-controls="icon-tabpanel-2" aria-selected="false"><i class="fa-solid fa-star"></i> Mes réservations</a>
      </li>
    </ul>

    <div class="tab-content pt-5" id="tab-content">
      <div class="tab-pane active" id="icon-tabpanel-0" role="tabpanel" aria-labelledby="icon-tab-0">
        <div class="dashboard-visit-container">
          <div class="dashboard-visit-title">
            <h2> Vos futures visites</h2>
          </div>
        </div>
        <div class="dashboard-visit-confirmed">
          <p>Réservations validés (<%= @user_bookings_confirmed.count  %>)</p>
            <div class="dashboard-visit-list-container">
              <% @user_bookings_confirmed.each do |book| %>
                <div class="dashboard-visit-list dashboard-boxshadow">
                  <p><%= book.flat.title %></p>
                  <p>Le <%= book.entry_date %></p>
                  <p>Adresse : <%= book.flat.address %></p>
                  <%= link_to flat_path(book.flat) do %>
                  voir
                  <%end%>
                </div>
              <% end %>
            </div>
        </div>

        <div class="dashboard-visit-unconfirmed">
          <p>Réservations en attende de validation (<%= @user_bookings_unconfirmed.count  %>)</p>
            <div class="dashboard-visit-list-container">
              <% @user_bookings_unconfirmed.each do |book| %>
                <div class="dashboard-visit-list dashboard-boxshadow">
                  <p><%= book.flat.title %></p>
                  <p>Le <%= book.entry_date %></p>
                  <p>Adresse : <%= book.flat.address %></p>
                  <%= link_to flat_path(book.flat) do %>
                  voir
                  <%end%>
                </div>
              <% end %>
            </div>
        </div>
    </div>


      <div class="tab-pane" id="icon-tabpanel-1" role="tabpanel" aria-labelledby="icon-tab-1">
        <div class="dashboard-new-flat-button">
      <%= link_to "flats/new" do  %>
      Mettre un bien en location
      <% end %>
    </div>
        <div class="dashboard-user-flats-container">
          <div class="dashboard-user-flats-title">
            <h2>Mes biens (<%= @flats.count  %>)</h2>
          </div>
          <div class="dashboard-user-flats-list-container">
            <% @flats.each do |flat| %>
              <div class="dashboard-flat-card card mb-3" style="max-width: 75vw;">
                <div class="row g-0">
                  <div class="dashboard-flat-card-image col-md-3">
                    <% if flat.photo.attached? %>
                          <%= cl_image_tag flat.photo.key, class: "img-fluid", alt:"flat.title" %>
                      <% end %>
                  </div>
                  <div class="col-md-7">
                    <div class="card-body">
                      <h5 class="card-title"><strong><%= flat.title %></strong></h5>
                      <p class="card-text"><%= flat.city %></p>
                      <p class="card-text">
                        <i class="fas fa-user"></i>
                        <%= flat.guest %> voyageur(s)
                      </p>
                      <p class="card-text">
                        <i class="fas fa-bed"></i>
                        <%= flat.bedroom %> chambre(s)
                      </p>
                    </div>
                  </div>
                  <div class="col-md-2 d-flex flex-column justify-content-between p-3">
                    <h5 class="text-end"><strong><%= flat.price %> €</strong></h5>
                    <div class="dashboard-flat-card-button d-flex flex-column justify-content-between gap-3">
                      <%= link_to "Voir", flat_path(flat) %>
                      <%= link_to "Modifier", edit_flat_path(flat) %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="icon-tabpanel-2" role="tabpanel" aria-labelledby="icon-tab-2">

        <div class="dashboard-booking-container">
          <div class="dashboard-booking-waiting">
            <div class="dashboard-booking-waiting-title">
              <h2>Bookings en attente (<%= @my_flats_bookings_unconfirmed.count  %>)</h2>
            </div>

            <%# <div class="dashboard-booking-content dashboard-boxshadow"> %>
              <% if @my_flats_bookings_unconfirmed.any? %>
                <% @my_flats_bookings_unconfirmed.each do |booking| %>
                  <div class="dashboard-flat-card card mb-3" style="max-width: 40vw;">
                    <div class="row g-0 flex-nowrap">
                      <div class="dashboard-flat-card-image col-md-3">
                        <% if booking.flat.photo.attached? %>
                          <%= cl_image_tag booking.flat.photo.key, class: "img-fluid", alt:"flat.title" %>
                        <% end %>
                      </div>
                      <div class="col-md-6 ms-1">
                        <p class="card-p">Réservation pour</p>
                        <p class="card-p"><strong><%= booking.flat.title %></strong></p>
                        <p class="card-p">du <strong><%= booking.entry_date %></strong> au <strong><%= booking.out_date %></strong></p>
                        <p class="card-p">pour <strong><%= booking.guest %></strong> invité(s)</p>
                        <p class="card-p">par <strong><%= booking.user.username %></strong></p>
                      <div class="card-body">

                        </div>
                      </div>
                      <div class="col-md-3 d-flex flex-column gap-3 p-3 dashboard-flat-card-button">
                        <%= link_to "Accepter", flat_booking_path(booking.flat, booking, booking: { confirmed: true }),
                            data: { turbo_method: :patch, turbo_confirm: "Confirmer cette réservation." } %>
                        <%= link_to "Refuser", flat_booking_path(booking.flat, booking),
                            data: { turbo_method: :delete, turbo_confirm: "Supprimer cette réservation ?" } %>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% else %>
                <p><em>Aucune demande en attente.</em></p>
              <% end %>
            <%# </div> %>
          </div>

          <div class="dashboard-booking-waiting">
            <div class="dashboard-booking-waiting-title">
              <h2>Historique (<%= @my_flats_bookings_confirmed.count  %>)</h2>
            </div>

              <% if @my_flats_bookings_confirmed.any? %>
                <% @my_flats_bookings_confirmed.each do |booking| %>
                  <div class="dashboard-flat-card card mb-3" style="max-width: 40vw;">
                    <div class="row g-0 flex-nowrap">
                      <div class="dashboard-flat-card-image col-md-3">
                        <% if booking.flat.photo.attached? %>
                          <%= cl_image_tag booking.flat.photo.key, class: "img-fluid", alt:"flat.title" %>
                        <% end %>
                      </div>
                      <div class="col-md-5 ms-1">
                        <p class="card-p">Réservation pour</p>
                        <p class="card-p"><strong><%= booking.flat.title %></strong></p>
                        <p class="card-p">du <strong><%= booking.entry_date %></strong> au <strong><%= booking.out_date %></strong></p>
                        <p class="card-p">pour <strong><%= booking.guest %></strong> invité(s)</p>
                        <p class="card-p">par <strong><%= booking.user.username %></strong></p>
                      <div class="card-body">

                        </div>
                      </div>
                      <div class="col-md-4 d-flex flex-column gap-3 p-3 flex-end dashboard-flat-card-button">
                        <h5 class="text-end"><strong><%= booking.flat.price %> €</strong></h5>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% else %>
                <p><em>Aucun historique à afficher.</em></p>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
