
<div class="dashboard-container">
  <div class="dashboard-card">
    <div class="dashboard-profil-pic-container">
     <%= cl_image_tag current_user.photo.key, class: "dashboard-profil-pic" %>
    </div>
    <div class="dashboard-title">
      Le dashboard
    </div>
    <div class="dashboard-title2">

      d'<%= current_user.username %>
    </div>

    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="icon-tab-0" data-bs-toggle="tab" href="#icon-tabpanel-0" role="tab" aria-controls="icon-tabpanel-0" aria-selected="true"><i class="fa-solid fa-plane-up"></i> Mes voyages</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="icon-tab-1" data-bs-toggle="tab" href="#icon-tabpanel-1" role="tab" aria-controls="icon-tabpanel-1" aria-selected="false"><i class="fa-solid fa-suitcase"></i> Mes biens</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="icon-tab-2" data-bs-toggle="tab" href="#icon-tabpanel-2" role="tab" aria-controls="icon-tabpanel-2" aria-selected="false"><i class="fa-solid fa-star"></i> Mes réservations</a>
      </li>
    </ul>

    <div class="tab-content pt-5" id="tab-content">
      <div class="tab-pane active" id="icon-tabpanel-0" role="tabpanel" aria-labelledby="icon-tab-0">
        <div class="dashboard-visit-container">
          <div class="dashboard-visit-title">
            <h2> Vos futures visites</h2>
          </div>
        </div>
        <div class="dashboard-visit-confirmed">
          <p>Réservations validés (<%= @user_bookings_confirmed.count  %>)</p>
            <div class="dashboard-visit-list-container">
              <% @user_bookings_confirmed.each do |book| %>
                <div class="dashboard-visit-list dashboard-boxshadow">
                  <p><%= book.flat.title %></p>
                  <p>Le <%= book.entry_date %></p>
                  <p>Adresse : <%= book.flat.address %></p>
                  <%= link_to flat_path(book.flat) do %>
                  voir
                  <%end%>
                </div>
              <% end %>
            </div>
        </div>

        <div class="dashboard-visit-unconfirmed">
          <p>Réservations en attende de validation (<%= @user_bookings_unconfirmed.count  %>)</p>
            <div class="dashboard-visit-list-container">
              <% @user_bookings_unconfirmed.each do |book| %>
                <div class="dashboard-visit-list dashboard-boxshadow">
                  <p><%= book.flat.title %></p>
                  <p>Le <%= book.entry_date %></p>
                  <p>Adresse : <%= book.flat.address %></p>
                  <%= link_to flat_path(book.flat) do %>
                  voir
                  <%end%>
                </div>
              <% end %>
            </div>
        </div>
    </div>


      <div class="tab-pane" id="icon-tabpanel-1" role="tabpanel" aria-labelledby="icon-tab-1">
        <div class="dashboard-new-flat-button">
      <%= link_to "flats/new" do  %>
      Mettre un bien en location
      <% end %>
    </div>
        <div class="dashboard-user-flats-container">
          <div class="dashboard-user-flats-title">
            <h2>Mes biens (<%= @flats.count  %>)</h2>
          </div>
          <div class="dashboard-user-flats-list-container">
            <% @flats.each do |flat| %>
              <div class="dashboard-user-flats-list dashboard-boxshadow">
                <div class="dashboard-user-flats-list-image">
                    <div class="dashboard-user-flats-list-image">
                      <% if flat.photo.attached? %>
                          <%= cl_image_tag flat.photo.key %>
                      <% end %>
                      </div>
                </div>
                  <p><strong><%= flat.title %></strong></p>
                  <p>Prix : <strong><%= flat.price %> €</strong></p>
                  <div class="dashboard-waiting-booking-infos-button">
                    <%= link_to "Voir", flat_path(flat)%>
                    <%= link_to "Supprimer", flat_path(flat),
                          data: { turbo_method: :delete, turbo_confirm: "Are you sure delete this flat?" } %>
                  </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="icon-tabpanel-2" role="tabpanel" aria-labelledby="icon-tab-2">

        <div class="dashboard-booking-container">
          <div class="dashboard-booking-waiting">
            <div class="dashboard-booking-waiting-title">
              <h2>Bookings en attente (<%= @my_flats_bookings_unconfirmed.count  %>)</h2>
            </div>

            <div class="dashboard-booking-content dashboard-boxshadow">
              <% if @my_flats_bookings_unconfirmed.any? %>
                <% @my_flats_bookings_unconfirmed.each do |booking| %>
                  <div class="dashboard-waiting-booking-infos">
                    <p>Réservation pour</p>
                    <p><strong><%= booking.flat.title %></strong></p>
                    <p>du <strong><%= booking.entry_date %></strong> au <strong><%= booking.out_date %></strong></p>
                    <p>pour <strong><%= booking.guest %></strong> invité(s)</p>
                    <p>par <strong><%= booking.user.username %></strong></p>
                  </div>

                  <div class="dashboard-waiting-booking-infos-button">
                    <%= link_to "Accepter", flat_booking_path(booking.flat, booking, booking: { confirmed: true }),
                          data: { turbo_method: :patch, turbo_confirm: "Confirmer cette réservation." } %>
                    <%= link_to "Refuser", flat_booking_path(booking.flat, booking),
                          data: { turbo_method: :delete, turbo_confirm: "Supprimer cette réservation ?" } %>
                  </div>
                <% end %>
              <% else %>
                <p><em>Aucune demande en attente.</em></p>
              <% end %>
            </div>
          </div>

          <div class="dashboard-booking-waiting">
            <div class="dashboard-booking-waiting-title">
              <h2>Historique (<%= @my_flats_bookings_confirmed.count  %>)</h2>
            </div>

            <div class="dashboard-booking-content dashboard-boxshadow">
              <% if @my_flats_bookings_confirmed.any? %>
                <% @my_flats_bookings_confirmed.each do |booking| %>
                  <div class="dashboard-waiting-booking-infos ">
                    <p>Réservation pour</p>
                    <p><strong><%= booking.flat.title %></strong></p>
                    <p>du <strong><%= booking.entry_date %></strong> au <strong><%= booking.out_date %></strong></p>
                    <p>pour <strong><%= booking.guest %></strong> invité(s)</p>
                    <p>par <strong><%= booking.user.username %></strong></p>
                  </div>

                  <div class="dashboard-waiting-booking-infos-button">
                    <%= link_to "Supprimer", flat_booking_path(booking.flat, booking),
                          data: { turbo_method: :delete, turbo_confirm: "Are you sure ?" } %>
                  </div>
                <% end %>
              <% else %>
                <p><em>Aucun historique à afficher.</em></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
